<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    
    {{!-- CSS --}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css">
    <link rel="stylesheet" href="/assets/css/burger_style.css" type="text/css" />
    
    {{!-- Google Fonts --}}
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    {{!-- bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {{!-- jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>

    {{!-- JS --}}
    <script src="/assets/js/burger-logic.js"></script>
    
    <title>Burger Lister</title>

</head>

<body class="background">
    <div class="container">

        {{{ body }}}

    </div>

    <footer class="pt-3">
        <p id="footer-text" class="footer">// from the mind of <a href="https://github.com/emilybaum"
                target="_blank">emilybaum</a></p>
    </footer>

</body>



</html>