<h1>Burgers!</h1>

<h2>This should be about burgers</h2>

<ul>
    {{#each burgers}}
        {{#unless devoured}}

        {{!-- ELYZA: this is the folder that the cat.block is in for partials --}}
            {{> bfolder/burger-block devoured=false}}
        {{/unless}}
    {{/each}}
</ul>

<h2>The Ultimate Burger List</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    {{> bfolder/burger-block devoured=false}}
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="ca">Burger Name:</label>
        <input type="text" id="ca" name="burger_name">
    </div>

    {{!-- <div class="form-group">
        <label for="devoured">Devoured?</label><br>
        <input type="radio" name="devoured" value="1" checked> Devoured!<br>
        <input type="radio" name="devoured" value="0"> Awake
    </div> --}}

    <button type="submit">Add Burger</button>
</form>
